body {
  width: 100%;
  background-color: black;
  color: white;
}

header {
  padding-top: 20px;
  padding-left: 20px;
}

.point-text {
  display: hidden;
}

#main {
  min-height: 50vh;
  gap: 5vh;
}

.card {
  width: 98px;
  height: 136.15px;
  background-color: transparent;
}

#result h4 {
  text-align: center;
}

#restart {
  display: none;
}

#bet-amount-button {
  gap: 2vh;
}
