body {
  background-image: url(/img/free-casino-table-cloth-texture-1637741.jpg);
  width: 100%;
  background-color: black;
  color: white;
}

header {
  padding-top: 20px;
  padding-left: 20px;
}

.point-text {
  display: hidden;
}

#main {
  min-height: 50vh;
  gap: 5vh;
}

.card {
  width: 98px;
  height: 136.15px;
  background-color: transparent;
  border-color: transparent;
}

#result h4 {
  text-align: center;
}

#restart {
  display: none;
}

#bet-amount-button {
  gap: 2vh;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(101, 101, 101);
  z-index: 1;
  width: 100%;
  height: 100%;
  gap: 4vh;
}

.game-over-text {
  text-align: center;
}
